[Desktop Entry]
Name=Capture Viewer
Comment=Use a video capture card as a monitor
Type=Application
Exec=captureviewer
Icon=io.github.chamithshehan.CaptureViewer
Terminal=false
Categories=AudioVideo;Video;GTK;
Keywords=capture;hdmi;monitor;video;grabber;
StartupNotify=true
